.menuIcon{
    cursor: pointer;
}

.navbar{
    position: relative;
}

.sidebardefault{
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    height: 100vh;
    width: fit-content;
    background-color: white;
    z-index: 10000;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
}

.sidebardefault ul li{
    padding-top: 20px;
    cursor: pointer;
}

.sidebar{
   left: -500px;
}

.sidebarappear{
    left: 0;
}

.searchContaioner input{
    color: black;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 300px;
}
footer {
    background-color: #2d3748; 
    color: white;
  }
  
  footer h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  footer a {
    color: #63b3ed; 
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  input[type="text"] {
    border: 1px solid #e2e8f0; 
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #63b3ed; 
    outline: none;
  }
    